<% @ad.comments.each do |comment| %>
<div class="row">
    <div class="col-md-12">
        <% if (member_signed_in?) && (comment.member.id == current_member.id) %>
            <%= rating_for @ad, 'quality' %>
        <% end %>
        <%= comment.member.email %>
        <span class="pull-right"><%= time_ago_in_words(comment.created_at) %></span>
        <p><%= comment.body %></p>
    </div>
</div>
<hr>
<% end %>