
<div class="panel-body">
    <div class="col-lg-4"></div>
        <%= render partial: "backoffice/categories/shared/form", locals: {action: "Edit category"} %>
    <div class="col-lg-4"></div>
</div>
